{% for order in orders %}
    <div class="order-item">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="order-id">{{ order.id }}</div>
            </div>
            <div class="col-md-3">
                <div class="order-date">{{ order.date|date('m/d/Y') }}</div>
            </div>
            <div class="col-md-3">
                {% if order.status == 'Pending' %}
                    <div class="order-status in-progress">{{ order.status }}</div>
                {% elseif order.status == 'Delivered' %}
                    <div class="order-status delivered">{{ order.status }}</div>
                {% else %}
                    <div class="order-status canceled">{{ order.status }}</div>
                {% endif %}
            </div>
            <div class="col-md-3">
                <div class="order-total">{{ order.total }}</div>
            </div>
        </div>
        <div class="order-products d-flex justify-content-end">
            <button type="button" class="order-details-link" data-bs-toggle="collapse" data-bs-target="#orderDetails{{ loop.index }}" aria-expanded="false" aria-controls="orderDetails{{ loop.index }}">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>
        <div class="collapse order-details" id="orderDetails{{ loop.index }}">
            {% include 'fragments/dashboard/orders/order-details.html.twig' %}
        </div>
    </div>
{% endfor %}
