<section id="about-2" class="about-2 section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row mb-lg-5">
            <span class="text-uppercase small-title mb-2">About Our Company</span>
            <div class="col-lg-6">
                <h2 class="about-title">A Tunisian Ministry of Interior-licensed dealer that provides authorized firearms, ammunition, melee and tactical accessories  </h2>
            </div>
            <div class="col-lg-6 description-wrapper">
                <p class="about-description"> By accessing this page, you confirm you possess a valid Tunisian firearms license and meet all requirements under Law 2017-10.</h2>
                </p>
            </div>
        </div>

        <div class="row g-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="content-card">
                    <div class="card-image">
                        <img src="{{ asset('images/gun3.jpg') }}" alt="" class="img-fluid">
                    </div>
                    <div class="card-content">
                        <h3>AR-15</h3>
                        <p>A modern firearm with a black finish, modular rail system, mounted optic sight, and a loaded magazine.</p>
                        <a href="{{ path('app_products') }}"class="read-more">
                            Explore More <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Content Card -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="content-card">
                    <div class="card-image">
                        <img src="{{ asset('images/Gun1.jpg') }}" alt="" class="img-fluid">
                    </div>
                    <div class="card-content">
                        <h3>Colt Single Action Army</h3>
                        <p>A classic Western-style revolver, with a wooden grip featuring a scorpion engraving, blued steel finish, and brass trigger guard.</p>
                        <a href="{{ path('app_products') }}" class="read-more">
                            Learn More <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div><!-- End Content Card -->

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="content-card">
                    <div class="card-image">
                        <img src="{{ asset('images/gun2.jpg') }}" alt="" class="img-fluid">
                    </div>
                    <div class="card-content">
                        <h3>Tan AR-15</h3>
                        <p>AR-15 style firearm with a tan finish, longer barrel, mounted red dot sight, and a magazine.</p>
                        <a href="{{ path('app_products') }}" class="read-more">
                            Discover More <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Content Card -->

        </div>

    </div>

</section>