{% extends 'admin/dashboard.html.twig' %}

{% block content %}

<!-- Profile Sidebar -->
    {% include 'fragments/dashboard/sidebar/profilesidebar.html.twig' %}
<!-- /Profile Content -->

<div class="col-lg-9 profile-content" data-aos="fade-left" data-aos-delay="300">
    <div class="tab-content" id="profileTabsContent">
        <div class="tab-pane fade show active" id="orders" role="tabpanel" aria-labelledby="orders-tab">
            <div class="tab-header">
                <h2>Create Product</h2>
                <div class="tab-filters">
                    {% include 'fragments/dashboard/products/pickTypeForm.html.twig' %}
                </div>
            </div>

            <div>
                {{ form_start(form, {'attr': {'class': 'product-form'}}) }}

                    {% for field in form %}
                        {% if field.vars.name != '_token' and field.vars.name != 'submit' %}
                            <div class="form-group">
                                {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                                <div class="invalid-feedback d-block">
                                    {{ form_errors(field) }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary w-100 h-100'}}) }}

                {{ form_end(form, {render_rest: false}) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}