{% for user in users %}
    <div class="order-item py-2">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="order-id">{{ user.username }}</div>
            </div>
            <div class="col-md-2">
                <div class="order-status">{{ user.firstname }}</div>
            </div>
            <div class="col-md-2">
                <div class="order-status">{{ user.lastname }}</div>
            </div>
            <div class="col-md-4">
                <div class="order-date">{{ user.email }}</div>
            </div>
            <div class="col-md-2">
                <div class="order-status">
                    <button class="btn btn-sm btn-primary">
                        <a href="{{ path("app_admin_delete_user", {'id': user.id}) }}">Delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
