<div class="tab-pane fade" id="personal" role="tabpanel" aria-labelledby="personal-tab">
    <div class="tab-header">
        <h2>Personal Information</h2>
    </div>
    <div class="personal-info-form" data-aos="fade-up" data-aos-delay="100">
        <form action="{{ path('app_user_update_personal_info') }}" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" 
                           value="{{ app.user.firstName }}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" 
                           value="{{ app.user.lastName }}" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" 
                           value="{{ app.user.email }}" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" 
                           value="{{ app.user.username }}" required>
                </div>
            </div>
                <button type="submit" class="btn btn-save">Save Changes</button>
            </div>
        </form>
    </div>
</div>