{% set wishes = app.user.wishlist.wishes %}

<div class="tab-pane fade" id="wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
    <div class="tab-header">
        <h2>Wishlist</h2>
    </div>
    <div class="wishlist-items">
        <div class="row">
            <!-- Wishlist Item 1 -->
            {% for wish in wishes %}
                {% set product = wish.product %}
                <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="wishlist-item">
                        <div class="wishlist-image">
                            <img src="{{ asset(product.image) }}" alt="Product" loading="lazy">
                            <a href="{{ path('app_user_wishlist_remove', {'pid': product.id}) }}" class="remove-wishlist" type="button">
                                <i class="bi bi-x-lg"></i>
                            </a>
                        </div>
                        <div class="wishlist-content">
                            <a href="{{ path('app_product_details', {'pid': product.id}) }}">
                                <h5>{{ product.name }}</h5>
                            </a>
                            <div class="product-price">${{ (product.price - product.price * product.sale)|number_format(2, '.', '') }}</div>
                            <a href="{{ path('app_user_cart_add', {'pid': product.id}) }}" class="btn btn-add-cart">Add to cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- End Wishlist Item -->
        </div>
    </div>
</div>
