<section id="category-cards" class="category-cards section light-background">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="category-tabs">
            <ul class="nav justify-content-center" id="category-cards-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="category-cards-guns-tab" data-bs-toggle="tab" data-bs-target="#category-cards-guns-content" type="button" role="tab" aria-controls="category-cards-guns-content" aria-selected="true">SHOP GUNS</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="category-cards-ammo-tab" data-bs-toggle="tab" data-bs-target="#category-cards-ammo-content" type="button" role="tab" aria-controls="category-cards-ammo-content" aria-selected="false">SHOP AMMO</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="category-cards-melee-tab" data-bs-toggle="tab" data-bs-target="#category-cards-melee-content" type="button" role="tab" aria-controls="category-cards-melee-content" aria-selected="false">SHOP MELEE</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="category-cards-accessories-tab" data-bs-toggle="tab" data-bs-target="#category-cards-accessories-content" type="button" role="tab" aria-controls="category-cards-accessories-content" aria-selected="false">SHOP ACCESSORIES</button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="category-cards-tabContent">
            <!-- Guns Categories -->
            <div class="tab-pane fade show active" id="category-cards-guns-content" role="tabpanel" aria-labelledby="category-cards-guns-tab">
                <div class="row g-4">
                    <!-- Pistols Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product1.png') }}" alt="Pistols" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'guns', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                PISTOLS <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Rifles Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product2.png') }}" alt="Rifles" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'guns', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                RIFLES <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Sniper Rifles Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product3.png') }}" alt="Sniper Rifles" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'guns', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                SNIPER RIFLES <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ammo Categories -->
            <div class="tab-pane fade" id="category-cards-ammo-content" role="tabpanel" aria-labelledby="category-cards-ammo-tab">
                <div class="row g-4">
                    <!-- 9mm Ammo Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product7.png') }}" alt="9mm Ammo" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'ammo', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                9MM AMMO <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- 5.56 Ammo Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product6.png') }}" alt="5.56 Ammo" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'ammo', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                5.56 AMMO <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- 7.62 Ammo Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product8.png') }}" alt="7.62 Ammo" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'ammo', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                7.62 AMMO <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Melee Categories -->
            <div class="tab-pane fade" id="category-cards-melee-content" role="tabpanel" aria-labelledby="category-cards-melee-tab">
                <div class="row g-4">
                    <!-- Knives Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product9.png') }}" alt="Knives" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'melee', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                KNIVES <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Spears Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product10.png') }}" alt="Spears" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'melee', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                SPEARS <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Axes Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product11.png') }}" alt="Axes" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'melee', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                AXES <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Accessories Categories -->
            <div class="tab-pane fade" id="category-cards-accessories-content" role="tabpanel" aria-labelledby="category-cards-accessories-tab">
                <div class="row g-4">
                    <!-- Grenades Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product13.png') }}" alt="Grenades" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'accessories', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                GRENADES <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Shields Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/product14.png') }}" alt="Shields" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'accessories', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                SHIELDS <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Gadgets Category -->
                    <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="category-card">
                            <img src="{{ asset('assets/img/uploads/nightvision.png') }}" alt="Gadgets" class="img-fluid" loading="lazy">
                            <a href="{{ path('app_products', {'filter_type_form[name]': '', 'filter_type_form[type]': 'accessories', 'filter_type_form[range]': 'all', 'filter_type_form[sort]': 'featured'}) }}" class="category-link">
                                GADGETS <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>